.label {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
  align-items: center;

  outline: none;
}

.input {
  border: 2px solid rgb(25, 152, 148);
  width: 300px;
  margin-top: 5px;
  cursor: pointer;
  padding: 5px;
  outline: none;
}
