.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: white;
}

.AuthNav {
  display: flex;
  gap: 15px;
  margin-left: auto;
  padding-right: 20px;
}
